{% extends 'default.html' %}
{% load static %}
{% block content %}
	{% include 'header.html' %}
	<section id="quiz">
		<div class="container">
			<div class="quiz">
				<div class="quiz__back ">
					<a href="{% url 'quiz' %}" class="quiz__back_link fic"><img src="{% static 'img/arrow-left.svg' %}" alt="arrow-left" class="arrowLeft">
					<span class="quiz__back_intro">Назад</span></a>
				</div>
				<div class="quiz__block">
					<h1 class="quiz__title">На какой бюджет рассчитываете?</h1>
					<div class="quiz__elems fic">
                        <a href="{% url 'result' %}?cat={{ cat }}&price=1000">
                            <button class="quiz__elem">До 1 000 ₽</button>
                        </a>&nbsp;
                        <a href="{% url 'result' %}?cat={{ cat }}&price=1000:5000">
                            <button class="quiz__elem">1 000 - 5 000 ₽</button>
                        </a>&nbsp;
                        <a href="{% url 'result' %}?cat={{ cat }}&price=5000">
                            <button class="quiz__elem">от 5 000 ₽</button>
                        </a>&nbsp;
                        <a href="{% url 'result' %}?cat={{ cat }}&price=0">
                            <button class="quiz__elem">Не имеет значения</button>
                        </a>
					</div>
					<div class="quiz__progress">
						<div class="quiz__progress_step">
							<span class="quiz__progress_num">2</span>
							<span class="quiz__progress_in"> шаг из </span>
							<span class="quiz__progress_num">2</span>
						</div>
						<div class="quiz__progress_line">
							<div class="quiz__progress_lineActive"></div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
{% endblock content %}
